<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>c3d080f1-d6a2-431a-af12-c994b2133eb5</DefaultValue>
      <Value>c3d080f1-d6a2-431a-af12-c994b2133eb5</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>2yJR5WHDfVodinhaljKhaHXNt9wCNpHOSQxij8zUmYk=</DefaultValue>
      <Value>2yJR5WHDfVodinhaljKhaHXNt9wCNpHOSQxij8zUmYk=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NPDI-Web.config Connection String">
      <ParameterValue>Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EIS-Web.config Connection String">
      <ParameterValue>Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BI-Web.config Connection String">
      <ParameterValue>Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portaldev.brakesindia.com/SES</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>biportaldev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>biportaldev/SES</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$biportaldev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NPDI" Order="1" Enabled="False">
          <Destination Path="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NPDI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;UID=bisqladmin;PWD=Brakes!India@123;Initial Catalog=portal_qual" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EIS" Order="2" Enabled="False">
          <Destination Path="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EIS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;UID=bisqladmin;PWD=Brakes!India@123;Initial Catalog=portal_qual" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BI" Order="3" Enabled="False">
          <Destination Path="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;User ID=bisqladmin;Password=Brakes!India@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;Persist Security Info=False;User ID=bisqladmin;Password=Brakes!India@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=bisisqldev.b7f05e7d7692.database.windows.net;Initial Catalog=portal_qual;Persist Security Info=False;User ID=bisqladmin;Password=Brakes!India@123;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
</Project>